<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="waaph.gb.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WAAPH">
        <activity
            android:name=".ItemSelectedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateItemSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDataFormActivity"
            android:exported="false" />
        <activity
            android:name=".ContactDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddressDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.WAAPH.NoActionBar" />
        <activity
            android:name=".AddPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CreateContactActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAddressDataActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGeneralDataActivity"
            android:exported="false" />
        <activity
            android:name=".BankDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateBankActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerDataFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>